
import(IRanges)

## context.R
export(genomic_regions, genomic_exons, genomic_introns, contextDistribution)

## diffpeaks.R.  Include diffPeakSummaryRef ?
export(diffPeakSummary) 

## funs.R

## FIXME: export
## setMethod("as.list", "AlignedRead",
## setAs("AlignedRead", "GenomeData",

export(readReads, extendReads, copyIRanges, copyIRangesbyChr, laneSubsample, combineLanes)

## intersect.R
## nothing right now

## islands.R
## nothing right now

## plots.R
export(coverageplot)

## stats.R
export(sparse.density, basesCovered, densityCorr, estimate.mean.fraglen)

## subsets.R
export(subsetSummary)




