useDynLib(chipseq)

## imports
import(IRanges)

importClassesFrom(BSgenome, GenomeData)
importClassesFrom(methods, list)
importClassesFrom(ShortRead, AlignedRead)

importMethodsFrom(GenomicRanges, strand)
importMethodsFrom(BSgenome, gdapply)
importMethodsFrom(methods, coerce)
importMethodsFrom(ShortRead, name, readAligned)

importFrom(BSgenome, GenomeData, GenomeDataList)
importFrom(lattice, panel.abline, panel.polygon, xyplot)
importFrom(methods, as, is, new)
importFrom(ShortRead, alignQualityFilter, chromosome, chromosomeFilter,
           compose, position, strandFilter, uniqueFilter)
importFrom(stats, density, dnorm, dpois, ppois)


## context.R
exportMethods(addNearestTss, addGenomicContext)

## diffpeaks.R.  Include diffPeakSummaryRef ?
export(diffPeakSummary) 

## funs.R

## FIXME: export
## setMethod("as.list", "AlignedRead",
## setAs("AlignedRead", "GenomeData",

export(chipseqFilter, readReads, extendReads, copyIRanges, copyIRangesbyChr,
       laneSubsample, combineLanes)

## intersect.R
## nothing right now

## islands.R
export(islandDepthPlot)

## plots.R
export(coverageplot)

## stats.R
export(sparse.density, basesCovered, densityCorr, estimate.mean.fraglen)
exportMethods(estimate.mean.fraglen)

## subsets.R
export(subsetSummary, peakCutoff)

## peaks.R
export(peakSummary)
